
.motos-container{
  display:flex;
  flex-direction: column;
  width:100%;
  height: 600px;
   /*background-color: rgba(240, 63, 96, 1);*/
}

.motos_section{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:stretch;
    background-color: rgba(133, 161, 175, 0.77);
    /* box-shadow: 0 0 3px 3px red; */
    border-radius: 30px;
}

.container-image{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.motos_img{
  width: 100%;  
  height: 100%;
  object-fit: cover;

}

.text_description-motos{
  /* width: 300px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align:center;
  margin:10px;
}
.details-motos{
  display: flex;
 flex-direction: column;
 justify-content: center;
  align-items: center;
  /*background-color:rgba(177, 189, 202, 0.8);*/
  
}
.details-motos p,h3{
  margin: 6px;
  padding: 0;
}
.motos_section button{

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border: none;
  cursor: pointer;
  font-size: medium;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-transform: uppercase;
}

.motos_section button:hover{
  transition: 0.2s;
  background-color: rgba(62, 114, 171, 0.8);
  
}
.details-motos h3{
  font-size: xx-large;
  color: rgba(0, 0, 0, 0.986);
  font-weight: bold;
  text-transform: uppercase;
}

.price-motos{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-image: linear-gradient(to right, #b6b6b68a 0%, #90978f75 0%, #9094b959 );
  font-size: 20px;
  font-weight: bold;

}

